<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
  </extensions>
  <targets>
    <target name="Gelf" type="Gelf" endpoint="udp://graylog.homechoice.co.za:12202" facility="MicroservicesUDPDev" SendLastFormatParameter="true" />
  </targets>
  <rules>
    <logger name="HC.*" levels="Info,Debug,Error" appendTo="Gelf" />
  </rules>
</nlog>